/Lab_assignbment/nbproject/private/
/demo/nbproject/private/
/demo/build/
/Member2/nbproject/private/
/Member2/build/
/Lab_assignment/nbproject/private/
/ProfileWorkareaExample 3/ProfileWorkareaExample 3/ProfileWorkareaExample/build/
/ProfileWorkareaExample 3/ProfileWorkareaExample 3/ProfileWorkareaExample/nbproject/private/
/ProfileWorkareaE/ProfileWorkareaExample 3/ProfileWorkareaExample/build/
/ProfileWorkareaE/ProfileWorkareaExample 3/ProfileWorkareaExample/nbproject/private/
/ProfileManagement/ProfileWorkareaExample 3/ProfileWorkareaExample/build/
/ProfileManagement/ProfileWorkareaExample 3/ProfileWorkareaExample/nbproject/private/
/ProfileManagement/ProfileWorkareaManagement/ProfileWorkareaManagement/build/
/ProfileManagement/ProfileWorkareaManagement/ProfileWorkareaManagement/nbproject/private/
/Info5100-University-Example-Management/Info5100-University-Management/nbproject/private/
/Info5100-University-Example-Management/Info5100-University-Management/build/
/Info5100-University-Example-Management/Info5100-University-Management/dist/
